# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\datalake setup\kubernetes-HDFS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
